
* {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
}

div {
    border: 2px solid firebrick;
}

.header {
    padding: 60px;
    text-align: center;
    background-color: crimson;
    color: white;
}

.navbar {
    display: flex;
    background-color: #333;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: limegreen;
    color: black;
    border-radius: 10px;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
}

.side {
    flex: 30%;
    background-color: white;
    padding: 20px;
}

.main {
    flex: 30%;
    background-color: white;
    padding: 20px;
}

.fake-image {
    background-color: #aaa;
    width: 100%;
    height: 60px;
    padding: 20px;
}

.footer {
    background-color: #ddd;
    padding: 20px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    /* body *{
        background-color: red;
    } */
    .navbar, .main-content {
        flex-direction: column;
    }
}